<%- include('partials/header') %>

<button class="hamburger-btn" onclick="toggleOptions()" title="Accessibility Menu">
  <label>Accessibility menu ☰</label></button>

<ul class="options-list hidden">

  <button id="font-increase-btn" style="background-color: rgb(63, 63, 87);"  class="btn btn-light">Increase Font Size</button>
  <button id="font-decrease-btn" style="background-color: rgb(66, 66, 81);" class="btn btn-light">Decrease Font Size</button>
  

<div class="mt-3">
  <input type="range" min="50" max="200" value="125" class="slider" id="brightness"> slide to adjust the brightness
</div>


<div class="toggle">
  <input type="checkbox" id="toggle-value" class="toggle-btn" onclick="toggleTheme()">
  <label for="toggle-value" class="toggle-label"><br>Theme</label>
</div>
<div class="toggle">


<script src="/js/main.js" type="text/javascript" ></script>
<script src="/js/accesibility-main.js" type="text/javascript" ></script>

</ul>
  <div align="Center">
    <img src="/logo.png" width="300" height="300" />
  </div>


  <div class="border border-5 shadow bg-white rounded" style="margin: 3% 20% 5% 20%; padding: 5% 5%">
    <form action="/payment" method="POST">
      <h4><label>Credit Card Info</label></h4>
      <div class="row">
        <div class="col">
          <div class="form-group my-3">
            <label for="card_type">Card Type:</label>
            <div>
              <select class="form-group" id="card_type" name="card_type">
                <option value="visa">Visa</option>
                <option value="mastercard">Mastercard</option>
                <option value="american-express">American Express</option>
                <option value="discover">Discover</option>
              </select>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group my-4">
              <label for="ex_date">Expiry date</label>
              <input type="date" class="form-control" name="ex_date" required placeholder="">
            </div>
          </div>
          <div class="col">
            <div class="form-group my-4">
              <label for="sec_code">Security Code</label>
              <input type="number" class="form-control" name="sec_code" required placeholder="">
            </div>
          </div>
        </div>

        <h4 class="mt-3">Billing Address</h4>
        <div class="form-group my-3">
          <label for="street">Street</label>
          <input type="text" class="form-control" name="street" required placeholder="">
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group my-4">
              <label for="city">City</label>
              <input type="text" class="form-control" name="city" required placeholder="">
            </div>
          </div>
          <div class="col">
            <div class="form-group my-4">
              <label for="state">State</label>
              <input type="text" class="form-control" name="state" required placeholder="">
            </div>
          </div>
        </div>


        <div class="form-group mt-5">
          <button type="submit" class="form-control btn btn-dark">Done</button>
        </div>

      </div>

      
    
    <script src="/js/chatbot.js"></script>
    <button id="play-button" class="btn btn-link text-decoration-none" style="font-size: 48px; position: absolute; top: 10px; left: 10px;">
      <i class="fas fa-volume-up fa-lg"></i>
    </button> 
    <script>
      play_audio('Add your credit card information here.');
    </script>

  </body>
  <%- include('partials/footer') %>