.product-card {
  height: 500px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.product-card .carousel-item img {
  height: 250px;
  object-fit: contain;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

i fa-microsoft {
  width: 45px;
}



.brightness-controls {
  display: flex;
  align-items: center;
}

#brightness {
  flex: 1;
  margin: 0 10px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button i {
  font-size: 20px;
  color: #ffc107;
}

.product-card {
height: 500px;
width: 100%;
padding: 20px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
transition: all 0.3s ease-in-out;
}

.product-card:hover {
transform: translateY(-5px);
box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.product-card .carousel-item img {
height: 250px;
object-fit: contain;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
filter: invert(100%);
}


.hamburger-btn {
position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
    font-size: 20px;
    background-color: transparent;
    color: #000;
    border: none;
    cursor: pointer;
}

/* Styling for the options list */
.options-list {
list-style: none;
margin: 0;
padding: 0;
background-color: #e8e8e8;
border: 1px solid #ddd;
position: absolute;
top: 40px;
right: 20px;
width: 300px;
height: 300px;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
z-index: 1;
overflow-y: auto;
font-size: 20px;
line-height: 1.5;
color: #333;
text-align: center;
font-family: Arial, sans-serif;
border-radius: 10px;


}

.options-list li {
margin: 0;
padding: 10px;
border-bottom: 1px solid #ddd;
}

.options-list li:last-child {
border-bottom: none;
}

.options-list li a {
color: #333;
text-decoration: none;
}

.options-list li a:hover {
color: #fff;
background-color: #333;
}

#font-increase-btn,
#font-decrease-btn {
display: block;
margin: 10px;
padding: 10px;
border: none;
border-radius: 4px;
color: #fff;
font-weight: bold;
text-align: center;
text-transform: uppercase;
cursor: pointer;
}

#font-increase-btn {
background-color: #4caf50;
}

#font-decrease-btn {
background-color: #f44336;
}

#font-increase-btn:hover,
#font-decrease-btn:hover {
opacity: 0.8;
}






/*cart*/
